h1.wow.slideInDown( data-wow-duration="1s" ) Hello
h3.wow.slideInRight( data-wow-duration="1s", data-wow-delay="1s" ) I'm Your Name
h4.wow.slideInLeft( data-wow-duration="1s", data-wow-delay="2s" ) This is What I Do