include mixins

+panelHead()
	| My Skills Are...
ul
	+showSquare()
		h3 Skill One
		ul
			li +
			li Extra Info
			li More info
	+showSquare()
		h3 Skill Two
		ul
			li +
			li Extra Info
			li More info
	+showSquare()
		h3 Skill Three
		ul
			li +
			li Extra Info
			li More info
	+showSquare()
		h3 Skill Four
		ul
			li +
			li Extra Info
			li More info
	+showSquare()
		h3 Skill Five
		ul
			li +
			li Extra Info
			li More info
	+showSquare()
		h3 Skill Six
		ul
			li +
			li Extra Info
			li More info
	+showSquare()
		h3 Skill Seven
		ul
			li +
			li Extra Info
			li More info
	+showSquare()
		h3 Skill Eight
		ul
			li +
			li Extra Info
			li More info